extends home

block content
  div(class="row")
    div(class="col-md-12")
      div(class="alert alert-default containerError")
        img(src="./images/error.png" class="imgError")
        span(class="error") #{message}
      
        
  if error
    p(class="text-danger text-center") Error #{error.status}
    pre #{error.stack}
