doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= 'Sample'
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    nav(class="navbar navbar-default navbar-static-top",role='navigation')
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(href="/") 
            div(class="containerLogo")
              img(src="/images/padlock_logo.png" class="mainLogo")
              div(class="containerLogoDescrption")
                div Authentication
                div Using passportjs
          
        div(class="navbar-collapse collapse navbar-right")
          ul(class="nav navbar-nav")
            unless user
              li
                a
                  span(class="text-primary") Strategies:
              li
                a(id="local" href="/login/local")
                  img(src="/images/database.png" class="database")
                  span Local 
              li
                a(href="/login/facebook/enter")
                  img(src="/images/facebook.png" class="facebook")
                  span Facebook 
            if user   
              li
                ul(class="list-inline top6")
                  li
                    span(class="text-primary left10") Hello, 
                      span(id="userlogged") #{user}
                      span .
                  li
                    p(class="navbar-btn")
                      a(id="logout" href="/logout" class="btn btn-default btn-sm") Log out 
    
    div(class="container")  
      div(class="jumbotron")
        block content
          div(class="row")  
            div(class="col-md-3")
            div(class="col-md-12 col-lg-12 col-xs-12 center")  
              div(class="user")
              div(class="rightArrow")
              div(class="downArrow")
              div(class="strategies")
              div(class="rightArrow")
              div(class="downArrow")
              div(class="userlogged") 
            
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(src="/bootstrap/js/bootstrap.min.js")
    
    
