body {
  padding: 1px;
}

.top10 {
  margin-top: 10px;
}

.mainLogo {
  float:left;
  height:50px;
  width:50px;
}

.containerLogoDescrption {
  display:inline-block;
  float:left;
  line-height:14px;
  margin-top:18px;
}
