body {
  padding: 1px;
}

.top6 {
  margin-top: 6px;
}

.containerLogo {
  display:inline-block;
  margin-top:6px;
}

.mainLogo {
  float:left;
  height:50px;
  width:50px;
}

.containerLogoDescrption {
  color: black;
  float:right;
  line-height:14px;
  margin-top:18px;
}

.database {
  height:15px;
  width:15px;
}

.containerError {
  background-color: #fade01;
  border:solid #6b6a6a 1px;
}

.imgError {
  height:50px;
  width:50px;
}

.error {
  color:black;
  font-size:16px;
  margin-left:8px;
}
