extends ../home

block content
  div(class="row")
    div(class="col-md-3")
    div(class="col-md-6 col-xs-12 col-sm-12") 
      if message.length > 0
        div(id="loginMessage" class="alert alert-warning") #{message}
      form(method="POST" action="/login/local" class="form-horizontal")
        fieldset
          legend Sign in
          div(class="form-group")
            div(class="col-lg-12")
              div(class="input-group")
                span(class="input-group-addon") 
                  span(class="glyphicon glyphicon-user")
                input(name="username" type="text" class="form-control" placeholder="User")
          div(class="form-group")
            div(class="col-lg-12")
              div(class="input-group")
                span(class="input-group-addon") 
                  span(class="glyphicon glyphicon-lock")
                input(name="password" type="password" class="form-control" placeholder="Password")
                span(class="input-group-btn")
                  input(type="submit" name="login" class="btn btn-primary pull-right" value="Log in")
        fieldset
          legend(class="h6")
            a(href="/login/local/signup" class="text-primary") Don't you have a account? Sign up here!      
